@import "~pikaday/css/pikaday";
@import '~draft-js/dist/Draft.css';
@import "popup";
@import "taskList";

$add-task-horizontal-padding: 10px;
$width-after-padding: ($popup-width - 2*$add-task-horizontal-padding);
$add-task-font-size: $task-title-font-size + 2px;
$add-task-title-width: $width-after-padding * 0.70;
$add-task-buttons-width: $width-after-padding * 0.30;
$input-height: 30px;

.add-task {
  padding: 0 $add-task-horizontal-padding;
  display: inline-block;

  .task-title-container {
    float: left;
    width: $add-task-title-width;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    font-size: $add-task-font-size;
    font-weight: lighter;
    height: $input-height;
    overflow: hidden;
    padding-top: 7px;
  }

  .task-notes-container {
    float: left;
    margin-top: 5px;
    width: $add-task-title-width;
  }

  .add-task-buttons-container {
    float: right;
    width: $add-task-buttons-width;
    position: relative;

    .datepicker-container {
      width: ($add-task-buttons-width - 2*$add-task-horizontal-padding) * 0.8;
      padding-left: $add-task-horizontal-padding;
      padding-right: $add-task-horizontal-padding;
      float: left;

      .datepicker {
        width: 100%;
        box-sizing: border-box;
        height: $input-height;
        padding-left: 5px;
        padding-top: 10px;
        border: none;
        border-bottom: 1px solid #ccc;
        font-size: 15px;
        color: $gray-font-color;

        &:focus {
          outline: none;
        }
      }

      .datepicker-popup {
        float: right;
      }
    }

    .submit-button-container {
      width: ($add-task-buttons-width - 2*$add-task-horizontal-padding) * 0.2;
      float: right;
      padding-top: 8px;

      button {
        &.overdue {
          background-color: $main-color-with-overdue;
        }
        height: 22px;
        width: 23px;
        border-radius: 4px;
        border: none;
        background-color: $main-color-no-overdue;
        color: $light-text;
        cursor: pointer;
      }
    }
  }
}
