@import "~pikaday/css/pikaday";
@import '~draft-js/dist/Draft.css';
@import "popup";
@import "taskList";

$add-task-horizontal-padding: 10px;
$width-after-padding: ($popup-width - 2*$add-task-horizontal-padding);
$add-task-font-size: $task-title-font-size + 2px;
$add-task-title-width: $width-after-padding * 0.75;
$add-task-buttons-width: $width-after-padding * 0.25;
$input-height: 30px;

.add-task {
  padding: 0 $add-task-horizontal-padding;
  display: inline-block;

  input {
    width: inherit;
    box-sizing: border-box;
    border-radius: 4px;
    height: $input-height;
    padding-left: 5px;
    padding-top: 4px;
    border: 1px solid $hover-main-color;

    &:focus {
      outline: none;
      border: 2px solid $hover-main-color;
    }
  }

  .add-task-title-container {
    float: left;
    width: $add-task-title-width;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    font-size: $add-task-font-size;
    font-weight: lighter;
    height: $input-height;
    line-height: 200%;
    overflow: hidden;
  }
  .add-task-buttons-container {
    float: right;
    width: $add-task-buttons-width;
    position: relative;

    .datepicker-container {
      width: 65%;
      padding-left: 5px;
      padding-right: 2.5px;

      #add-task-datepicker {
        font-size: 10px;
        padding-bottom: 4px;
      }

      #add-task-calendar-container {
        float: right;
      }
    }

    .submit-button-container {
      width: 35%;

      button {
        &.overdue {
          background-color: $main-color-with-overdue;
        }
        position: absolute;
        height: $input-height;
        width: $input-height;
        border-radius: 4px;
        border: none;
        margin-left: 2.5px;
        background-color: $main-color-no-overdue;
        color: $light-text;
        cursor: pointer;
      }
    }
  }

  .add-task-notes-container {
    float: left;
    margin-top: 5px;
    width: $width-after-padding;
  }
}
