@import 'popup.scss';

$logo-font-size: 25px;
$small-icon-font-size: 11px;
$header-height: 30px;
$title-font-size: 18px;


.header {
  height: $header-height;
  background-color: $main-color;
  color: $light-text;
  padding: 8px 5px;

  .header-left {
    font-size: $title-font-size;

    .logo {
      font-size: $logo-font-size;
      padding: 5px 15px 5px 5px;
      vertical-align: middle;
    }

    .external-link {
      cursor: pointer;
    }
  }

  .header-right {
    float: right;
  }
}
