@import 'popup.scss';

$logo-font-size: 35px;
$small-icon-font-size: 11px;

.header {
  height: 40px;
  background-color: $main-color;
  color: $light-text;
  padding: 8px 5px;
  margin-bottom: 10px;

  .header-left {
    font-size: $title-font-size;

    .logo {
      font-size: $logo-font-size;
      padding: 5px 15px 5px 5px;
      vertical-align: middle;
    }
  }

  .header-right {
    float: right;
    font-size: $small-icon-font-size;
    .small-icon-container {
      padding: 5px;
      cursor: pointer;

      &:hover {
        background-color: $hover-main-color;
      }
    }
  }
}
