$popup-width: 450px;

//http://www.color-hex.com/color-palette/49178
//http://www.color-hex.com/color-palette/49176
$main-color-green: #b2c7b0;
$main-color-red: #ec8184;
$hover-main-color: #dddddd;
$light-text: #ffffff;
$grayed-out-font-color: #7a7a7a;
$gray-font-color: #4a4a4a;

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  width: $popup-width;
  color: $gray-font-color;
}
