@import "popup";
@import "taskList";

$horizontal-padding: 5px;
$popup-width-without-padding: $popup-width - 2*$horizontal-padding;
$task-description-width: $popup-width-without-padding * 0.68;
$task-due-width: $popup-width-without-padding * .25;

$overdue-date-font-color: #c0392b;
$due-date-font-size: 13px;

$notes-font-color: #6a6a6a;
$notes-font-size: $task-title-font-size - 4px;

.task {
  font-size: $task-title-font-size;
  padding: 2.5px 5px 2.5px;
  overflow: auto;
  align-items: center;
  display: flex;
  flex-wrap: wrap;

  .task-text-editor-container {
    width: $task-description-width;
  }

  .task-title-container {
    align-items: center;
    width: $task-description-width;
  }

  .task-notes-container {
    font-size: $notes-font-size;
    color: $notes-font-color;
    width: $task-description-width;
  }

  label {
    flex: inherit;
    padding-left: 7px;
    cursor: text;
    width: $task-description-width;
  }

  input[type="checkbox"] {
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }

  &:hover {
    background-color: $hover-main-color;
  }

  .completed {
    text-decoration: line-through;
    color: $grayed-out-font-color;

    .public-DraftEditorPlaceholder-root {
      text-decoration: line-through;
    }
  }

  .due-date-box {
    float: right;
    position: relative;
    width: 25%;
    &.overdue {
      color: $overdue-date-font-color;
    }
    &.completed {
      color: $grayed-out-font-color;
      font-weight: lighter;
    }

    .datepicker-container {
      float: left;
      width: 70%;

      .datepicker {
        font-weight: normal;
        font-size: $due-date-font-size;
        width: 100%;
        box-sizing: border-box;
        padding-left: 5px;
        padding-top: 10px;
        border: none;
        background-color: inherit;

        &:focus {
          outline: none;
        }
      }
      .datepicker-popup {
        float: right;
      }
    }

    .overdue-icon {
      padding-top: 10%;
    }
  }
}
