@import "popup";

$task-title-font-size: 15px;

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  
  .list-title {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    border-bottom: 1px solid $gray-font-color;
    text-align: left;
    font-size: $task-title-font-size;
    font-weight: bolder;
  }
}
