@import "popup";
@import "taskList";

$horizontal-padding: 5px;
$popup-width-without-padding: $popup-width - 2*$horizontal-padding;
$task-description-width: $popup-width-without-padding * 0.75;
$task-due-width: $popup-width-without-padding * .25;

$overdue-date-font-color: #c0392b;
$due-date-font-size: 13px;

$notes-font-color: #6a6a6a;
$notes-font-size: $task-title-font-size - 4px;
$notes-left-padding: 25px;

.task {
  font-size: $task-title-font-size;
  padding: 0 5px 5px;
  overflow: auto;
  align-items: center;
  display: flex;
  flex-wrap: wrap;

  .task-title {
    display: flex;
    align-items: center;
    flex: $task-description-width;
  }

  .task-notes {
    font-size: $notes-font-size;
    color: $notes-font-color;
    width: $task-description-width - $notes-left-padding;
    padding-left: $notes-left-padding;
  }

  label {
    flex: inherit;
    padding-left: 7px;
    cursor: pointer;
    margin-right: 10px;
  }

  input[type="checkbox"] {
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }

  &:hover {
    background-color: $hover-main-color;
  }

  .completed {
    text-decoration: line-through;
    color: $grayed-out-font-color;
  }

  .due-date-box {
    width: $task-due-width;
    flex: $task-due-width;
    float: right;
    font-size: $due-date-font-size;

    .due-date {
      font-weight: normal;
      &.overdue {
        color: $overdue-date-font-color;
      }
      &.completed {
        color: $grayed-out-font-color;
        font-weight: lighter;
      }
    }
  }
}
