@import "popup";
@import "taskList";

$task-description-width: $popup-width * 0.75;
$task-due-width: $popup-width * .25;

$overdue-date-font-color: #c0392b;
$due-date-font-size: 13px;

.overdue-task {
  font-size: $task-title-font-size;
  padding: 5px;
  overflow: auto;
  display: flex;
  align-items: center;

  .task-description {
    width: $task-description-width;
    display: flex;
    align-items: center;
  }

  &:hover {
    background-color: $hover-main-color;
  }

  .completed {
    text-decoration: line-through;
    color: $grayed-out-font-color;
  }

  label {
    flex: 1;
    padding-left: 7px;
    cursor: pointer;
    margin-right: 10px;
  }

  input[type="checkbox"] {
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }

  .due-date-box {
    width: $task-due-width;
    float: right;
    font-size: $due-date-font-size;

    .due-date {
      font-weight: normal;
      &.overdue {
        color: $overdue-date-font-color;
      }
      &.completed {
        color: $grayed-out-font-color;
        font-weight: lighter;
      }
    }
  }
}
